
add_library( zattera_plugins
   mf_plugins.cpp
   ${CMAKE_CURRENT_SOURCE_DIR}/include/zattera/manifest/plugins.hpp
)

target_link_libraries( zattera_plugins appbase fc
{% for plugin in plugins %}
   {{ plugin["plugin_project"] }}
{% endfor %}
)

target_include_directories( zattera_plugins
   PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}/include"
   )

INSTALL( TARGETS
   zattera_plugins

   RUNTIME DESTINATION bin
   LIBRARY DESTINATION lib
   ARCHIVE DESTINATION lib
)
